In [1]:
import requests as req
import json as js
import pandas as pd
from pandas.io.json import json_normalize

In [ ]:
#datau = req.get('http://universities.hipolabs.com/search?')
#datau = datau.json()
#dfu = pd.DataFrame(datau)
#dfu
#información muy pequeña y simple. Sin keys de autentificación

In [ ]:
#datauk = req.get('https://api.carbonintensity.org.uk/intensity')
#datauk_2 = datauk.json()
#type(datauk_2)
#datauk_2
#funciona bien pero debe ir cambiando los valores dentro de la URL

In [2]:
url2 = 'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol=MSFT&interval=5min&apikey=AEVIFBN3Y7WUWVL9'
alpha = req.get(url2)
alpha = alpha.json()
alpha
#AEVIFBN3Y7WUWVL9

{'Meta Data': {'1. Information': 'Intraday (5min) open, high, low, close prices and volume',
  '2. Symbol': 'MSFT',
  '3. Last Refreshed': '2019-07-22 16:00:00',
  '4. Interval': '5min',
  '5. Output Size': 'Compact',
  '6. Time Zone': 'US/Eastern'},
 'Time Series (5min)': {'2019-07-22 16:00:00': {'1. open': '138.4400',
   '2. high': '138.5500',
   '3. low': '138.3400',
   '4. close': '138.4300',
   '5. volume': '886466'},
  '2019-07-22 15:55:00': {'1. open': '138.4400',
   '2. high': '138.4900',
   '3. low': '138.3500',
   '4. close': '138.4400',
   '5. volume': '321964'},
  '2019-07-22 15:50:00': {'1. open': '138.3750',
   '2. high': '138.4550',
   '3. low': '138.3400',
   '4. close': '138.4400',
   '5. volume': '252689'},
  '2019-07-22 15:45:00': {'1. open': '138.3600',
   '2. high': '138.4700',
   '3. low': '138.3350',
   '4. close': '138.3850',
   '5. volume': '233272'},
  '2019-07-22 15:40:00': {'1. open': '138.3400',
   '2. high': '138.4000',
   '3. low': '138.3300',
   '4. close': '138.3650',
   '5. volume': '249061'},
  '2019-07-22 15:35:00': {'1. open': '138.4430',
   '2. high': '138.4568',
   '3. low': '138.2950',
   '4. close': '138.3400',
   '5. volume': '210479'},
  '2019-07-22 15:30:00': {'1. open': '138.4600',
   '2. high': '138.4700',
   '3. low': '138.4000',
   '4. close': '138.4500',
   '5. volume': '135392'},
  '2019-07-22 15:25:00': {'1. open': '138.6300',
   '2. high': '138.6500',
   '3. low': '138.4100',
   '4. close': '138.4600',
   '5. volume': '183601'},
  '2019-07-22 15:20:00': {'1. open': '138.5700',
   '2. high': '138.6700',
   '3. low': '138.5500',
   '4. close': '138.6300',
   '5. volume': '161121'},
  '2019-07-22 15:15:00': {'1. open': '138.6800',
   '2. high': '138.6850',
   '3. low': '138.5300',
   '4. close': '138.5700',
   '5. volume': '169380'},
  '2019-07-22 15:10:00': {'1. open': '138.7050',
   '2. high': '138.7900',
   '3. low': '138.6650',
   '4. close': '138.6800',
   '5. volume': '166921'},
  '2019-07-22 15:05:00': {'1. open': '138.4450',
   '2. high': '138.8000',
   '3. low': '138.4350',
   '4. close': '138.7050',
   '5. volume': '404897'},
  '2019-07-22 15:00:00': {'1. open': '138.4100',
   '2. high': '138.4700',
   '3. low': '138.3900',
   '4. close': '138.4500',
   '5. volume': '115974'},
  '2019-07-22 14:55:00': {'1. open': '138.3500',
   '2. high': '138.4200',
   '3. low': '138.3400',
   '4. close': '138.4100',
   '5. volume': '118987'},
  '2019-07-22 14:50:00': {'1. open': '138.2101',
   '2. high': '138.3500',
   '3. low': '138.2060',
   '4. close': '138.3450',
   '5. volume': '125469'},
  '2019-07-22 14:45:00': {'1. open': '138.1500',
   '2. high': '138.2400',
   '3. low': '138.1400',
   '4. close': '138.2100',
   '5. volume': '71032'},
  '2019-07-22 14:40:00': {'1. open': '138.2500',
   '2. high': '138.2750',
   '3. low': '138.1200',
   '4. close': '138.1500',
   '5. volume': '115094'},
  '2019-07-22 14:35:00': {'1. open': '138.1854',
   '2. high': '138.2800',
   '3. low': '138.1600',
   '4. close': '138.2600',
   '5. volume': '152923'},
  '2019-07-22 14:30:00': {'1. open': '138.1900',
   '2. high': '138.2200',
   '3. low': '138.1777',
   '4. close': '138.1850',
   '5. volume': '93773'},
  '2019-07-22 14:25:00': {'1. open': '138.1900',
   '2. high': '138.2200',
   '3. low': '138.1800',
   '4. close': '138.1950',
   '5. volume': '87335'},
  '2019-07-22 14:20:00': {'1. open': '138.2300',
   '2. high': '138.2600',
   '3. low': '138.1800',
   '4. close': '138.1950',
   '5. volume': '100154'},
  '2019-07-22 14:15:00': {'1. open': '138.2554',
   '2. high': '138.2700',
   '3. low': '138.1600',
   '4. close': '138.2368',
   '5. volume': '172939'},
  '2019-07-22 14:10:00': {'1. open': '138.2150',
   '2. high': '138.3300',
   '3. low': '138.2000',
   '4. close': '138.2500',
   '5. volume': '183011'},
  '2019-07-22 14:05:00': {'1. open': '138.1750',
   '2. high': '138.2500',
   '3. low': '138.1750',
   '4. close': '138.2150',
   '5. volume': '147785'},
  '2019-07-22 14:00:00': {'1. open': '138.1450',
   '2. high': '138.2200',
   '3. low': '138.1400',
   '4. close': '138.1700',
   '5. volume': '132920'},
  '2019-07-22 13:55:00': {'1. open': '138.0900',
   '2. high': '138.1569',
   '3. low': '138.0800',
   '4. close': '138.1496',
   '5. volume': '99802'},
  '2019-07-22 13:50:00': {'1. open': '138.1461',
   '2. high': '138.1550',
   '3. low': '138.0400',
   '4. close': '138.0900',
   '5. volume': '142886'},
  '2019-07-22 13:45:00': {'1. open': '138.1696',
   '2. high': '138.2257',
   '3. low': '138.1400',
   '4. close': '138.1447',
   '5. volume': '122524'},
  '2019-07-22 13:40:00': {'1. open': '138.1800',
   '2. high': '138.2000',
   '3. low': '138.1200',
   '4. close': '138.1650',
   '5. volume': '136384'},
  '2019-07-22 13:35:00': {'1. open': '138.1850',
   '2. high': '138.2500',
   '3. low': '138.1600',
   '4. close': '138.1750',
   '5. volume': '114172'},
  '2019-07-22 13:30:00': {'1. open': '138.1800',
   '2. high': '138.2500',
   '3. low': '138.1600',
   '4. close': '138.1835',
   '5. volume': '67901'},
  '2019-07-22 13:25:00': {'1. open': '138.2300',
   '2. high': '138.2400',
   '3. low': '138.1700',
   '4. close': '138.1800',
   '5. volume': '78538'},
  '2019-07-22 13:20:00': {'1. open': '138.2750',
   '2. high': '138.2931',
   '3. low': '138.2300',
   '4. close': '138.2300',
   '5. volume': '77151'},
  '2019-07-22 13:15:00': {'1. open': '138.2185',
   '2. high': '138.2850',
   '3. low': '138.1900',
   '4. close': '138.2750',
   '5. volume': '118863'},
  '2019-07-22 13:10:00': {'1. open': '138.1803',
   '2. high': '138.2300',
   '3. low': '138.1500',
   '4. close': '138.2150',
   '5. volume': '104196'},
  '2019-07-22 13:05:00': {'1. open': '138.3750',
   '2. high': '138.4200',
   '3. low': '138.1700',
   '4. close': '138.1900',
   '5. volume': '154095'},
  '2019-07-22 13:00:00': {'1. open': '138.3600',
   '2. high': '138.4300',
   '3. low': '138.3100',
   '4. close': '138.3750',
   '5. volume': '190471'},
  '2019-07-22 12:55:00': {'1. open': '138.4391',
   '2. high': '138.4450',
   '3. low': '138.3600',
   '4. close': '138.3600',
   '5. volume': '105301'},
  '2019-07-22 12:50:00': {'1. open': '138.5050',
   '2. high': '138.5300',
   '3. low': '138.4200',
   '4. close': '138.4333',
   '5. volume': '118735'},
  '2019-07-22 12:45:00': {'1. open': '138.4700',
   '2. high': '138.5100',
   '3. low': '138.4600',
   '4. close': '138.5100',
   '5. volume': '102142'},
  '2019-07-22 12:40:00': {'1. open': '138.4135',
   '2. high': '138.5500',
   '3. low': '138.4000',
   '4. close': '138.4600',
   '5. volume': '143815'},
  '2019-07-22 12:35:00': {'1. open': '138.4675',
   '2. high': '138.4750',
   '3. low': '138.3700',
   '4. close': '138.4101',
   '5. volume': '70224'},
  '2019-07-22 12:30:00': {'1. open': '138.5300',
   '2. high': '138.5600',
   '3. low': '138.4350',
   '4. close': '138.4500',
   '5. volume': '105264'},
  '2019-07-22 12:25:00': {'1. open': '138.5200',
   '2. high': '138.5800',
   '3. low': '138.4600',
   '4. close': '138.5350',
   '5. volume': '166159'},
  '2019-07-22 12:20:00': {'1. open': '138.5100',
   '2. high': '138.6200',
   '3. low': '138.4600',
   '4. close': '138.5210',
   '5. volume': '153043'},
  '2019-07-22 12:15:00': {'1. open': '138.3400',
   '2. high': '138.5100',
   '3. low': '138.3200',
   '4. close': '138.5050',
   '5. volume': '135899'},
  '2019-07-22 12:10:00': {'1. open': '138.4303',
   '2. high': '138.4658',
   '3. low': '138.3300',
   '4. close': '138.3443',
   '5. volume': '126860'},
  '2019-07-22 12:05:00': {'1. open': '138.5900',
   '2. high': '138.6300',
   '3. low': '138.3400',
   '4. close': '138.4400',
   '5. volume': '158529'},
  '2019-07-22 12:00:00': {'1. open': '138.6200',
   '2. high': '138.6400',
   '3. low': '138.5300',
   '4. close': '138.5950',
   '5. volume': '166528'},
  '2019-07-22 11:55:00': {'1. open': '138.4460',
   '2. high': '138.6300',
   '3. low': '138.4460',
   '4. close': '138.6200',
   '5. volume': '153907'},
  '2019-07-22 11:50:00': {'1. open': '138.4300',
   '2. high': '138.5950',
   '3. low': '138.4200',
   '4. close': '138.5200',
   '5. volume': '200739'},
  '2019-07-22 11:45:00': {'1. open': '138.3600',
   '2. high': '138.4500',
   '3. low': '138.2650',
   '4. close': '138.4396',
   '5. volume': '197505'},
  '2019-07-22 11:40:00': {'1. open': '138.2850',
   '2. high': '138.4090',
   '3. low': '138.2150',
   '4. close': '138.3541',
   '5. volume': '194263'},
  '2019-07-22 11:35:00': {'1. open': '138.3540',
   '2. high': '138.4300',
   '3. low': '138.2400',
   '4. close': '138.2900',
   '5. volume': '157112'},
  '2019-07-22 11:30:00': {'1. open': '138.2400',
   '2. high': '138.3800',
   '3. low': '138.2100',
   '4. close': '138.3550',
   '5. volume': '171612'},
  '2019-07-22 11:25:00': {'1. open': '138.3266',
   '2. high': '138.3400',
   '3. low': '138.1400',
   '4. close': '138.2500',
   '5. volume': '201769'},
  '2019-07-22 11:20:00': {'1. open': '138.3700',
   '2. high': '138.3900',
   '3. low': '138.1900',
   '4. close': '138.3200',
   '5. volume': '222568'},
  '2019-07-22 11:15:00': {'1. open': '138.4300',
   '2. high': '138.4750',
   '3. low': '138.3000',
   '4. close': '138.3700',
   '5. volume': '163048'},
  '2019-07-22 11:10:00': {'1. open': '138.3000',
   '2. high': '138.5100',
   '3. low': '138.3000',
   '4. close': '138.4220',
   '5. volume': '251561'},
  '2019-07-22 11:05:00': {'1. open': '138.4000',
   '2. high': '138.5000',
   '3. low': '138.2200',
   '4. close': '138.3000',
   '5. volume': '267282'},
  '2019-07-22 11:00:00': {'1. open': '138.3700',
   '2. high': '138.5300',
   '3. low': '138.3200',
   '4. close': '138.4000',
   '5. volume': '318770'},
  '2019-07-22 10:55:00': {'1. open': '138.4985',
   '2. high': '138.4985',
   '3. low': '138.3531',
   '4. close': '138.3531',
   '5. volume': '271861'},
  '2019-07-22 10:50:00': {'1. open': '138.6500',
   '2. high': '138.6700',
   '3. low': '138.3900',
   '4. close': '138.5000',
   '5. volume': '344688'},
  '2019-07-22 10:45:00': {'1. open': '138.9400',
   '2. high': '138.9701',
   '3. low': '138.5900',
   '4. close': '138.6432',
   '5. volume': '358709'},
  '2019-07-22 10:40:00': {'1. open': '138.8900',
   '2. high': '139.0400',
   '3. low': '138.8650',
   '4. close': '138.9300',
   '5. volume': '269487'},
  '2019-07-22 10:35:00': {'1. open': '138.8300',
   '2. high': '139.1000',
   '3. low': '138.8100',
   '4. close': '138.8900',
   '5. volume': '745691'},
  '2019-07-22 10:30:00': {'1. open': '138.5799',
   '2. high': '138.8900',
   '3. low': '138.5500',
   '4. close': '138.8122',
   '5. volume': '373339'},
  '2019-07-22 10:25:00': {'1. open': '138.8301',
   '2. high': '138.8400',
   '3. low': '138.5300',
   '4. close': '138.5700',
   '5. volume': '463068'},
  '2019-07-22 10:20:00': {'1. open': '138.8870',
   '2. high': '139.0650',
   '3. low': '138.8100',
   '4. close': '138.8300',
   '5. volume': '467613'},
  '2019-07-22 10:15:00': {'1. open': '138.8450',
   '2. high': '138.9000',
   '3. low': '138.7700',
   '4. close': '138.8950',
   '5. volume': '525662'},
  '2019-07-22 10:10:00': {'1. open': '138.7800',
   '2. high': '139.1900',
   '3. low': '138.7600',
   '4. close': '139.0000',
   '5. volume': '792631'},
  '2019-07-22 10:05:00': {'1. open': '138.7805',
   '2. high': '138.8500',
   '3. low': '138.7500',
   '4. close': '138.8400',
   '5. volume': '960330'},
  '2019-07-22 10:00:00': {'1. open': '138.4608',
   '2. high': '138.7500',
   '3. low': '138.4100',
   '4. close': '138.6900',
   '5. volume': '551095'},
  '2019-07-22 09:55:00': {'1. open': '138.1600',
   '2. high': '138.4800',
   '3. low': '138.1550',
   '4. close': '138.4650',
   '5. volume': '861930'},
  '2019-07-22 09:50:00': {'1. open': '138.0400',
   '2. high': '138.2010',
   '3. low': '137.9142',
   '4. close': '138.1546',
   '5. volume': '470234'},
  '2019-07-22 09:45:00': {'1. open': '138.0850',
   '2. high': '138.3600',
   '3. low': '138.0000',
   '4. close': '138.0300',
   '5. volume': '705766'},
  '2019-07-22 09:40:00': {'1. open': '137.9500',
   '2. high': '138.1000',
   '3. low': '137.6000',
   '4. close': '138.0900',
   '5. volume': '742992'},
  '2019-07-22 09:35:00': {'1. open': '137.4100',
   '2. high': '137.9900',
   '3. low': '137.3300',
   '4. close': '137.9450',
   '5. volume': '1683698'},
  '2019-07-19 16:00:00': {'1. open': '136.8400',
   '2. high': '136.8450',
   '3. low': '136.5100',
   '4. close': '136.6000',
   '5. volume': '1823415'},
  '2019-07-19 15:55:00': {'1. open': '136.6650',
   '2. high': '136.8700',
   '3. low': '136.6334',
   '4. close': '136.8405',
   '5. volume': '625291'},
  '2019-07-19 15:50:00': {'1. open': '137.0450',
   '2. high': '137.0700',
   '3. low': '136.6200',
   '4. close': '136.6650',
   '5. volume': '613419'},
  '2019-07-19 15:45:00': {'1. open': '136.8900',
   '2. high': '137.1100',
   '3. low': '136.8500',
   '4. close': '137.0500',
   '5. volume': '489213'},
  '2019-07-19 15:40:00': {'1. open': '136.8943',
   '2. high': '136.9500',
   '3. low': '136.7200',
   '4. close': '136.8900',
   '5. volume': '374177'},
  '2019-07-19 15:35:00': {'1. open': '136.9500',
   '2. high': '137.1100',
   '3. low': '136.8500',
   '4. close': '136.9000',
   '5. volume': '540279'},
  '2019-07-19 15:30:00': {'1. open': '136.8100',
   '2. high': '136.9550',
   '3. low': '136.8050',
   '4. close': '136.9450',
   '5. volume': '409692'},
  '2019-07-19 15:25:00': {'1. open': '136.6000',
   '2. high': '136.8400',
   '3. low': '136.4600',
   '4. close': '136.8000',
   '5. volume': '846317'},
  '2019-07-19 15:20:00': {'1. open': '136.7271',
   '2. high': '136.8150',
   '3. low': '136.5900',
   '4. close': '136.6100',
   '5. volume': '449129'},
  '2019-07-19 15:15:00': {'1. open': '136.7300',
   '2. high': '136.8050',
   '3. low': '136.5800',
   '4. close': '136.7250',
   '5. volume': '318304'},
  '2019-07-19 15:10:00': {'1. open': '136.6600',
   '2. high': '136.8800',
   '3. low': '136.6600',
   '4. close': '136.7200',
   '5. volume': '277960'},
  '2019-07-19 15:05:00': {'1. open': '137.0000',
   '2. high': '137.0769',
   '3. low': '136.6800',
   '4. close': '136.6800',
   '5. volume': '360791'},
  '2019-07-19 15:00:00': {'1. open': '137.0600',
   '2. high': '137.1300',
   '3. low': '136.9500',
   '4. close': '137.0000',
   '5. volume': '282515'},
  '2019-07-19 14:55:00': {'1. open': '137.1000',
   '2. high': '137.2800',
   '3. low': '137.0500',
   '4. close': '137.0569',
   '5. volume': '402198'},
  '2019-07-19 14:50:00': {'1. open': '136.8600',
   '2. high': '137.1300',
   '3. low': '136.8358',
   '4. close': '137.1000',
   '5. volume': '268204'},
  '2019-07-19 14:45:00': {'1. open': '136.8200',
   '2. high': '137.0600',
   '3. low': '136.8000',
   '4. close': '136.8700',
   '5. volume': '387917'},
  '2019-07-19 14:40:00': {'1. open': '136.7500',
   '2. high': '136.8900',
   '3. low': '136.6100',
   '4. close': '136.8200',
   '5. volume': '661988'},
  '2019-07-19 14:35:00': {'1. open': '136.7200',
   '2. high': '137.0000',
   '3. low': '136.7100',
   '4. close': '136.7505',
   '5. volume': '455275'},
  '2019-07-19 14:30:00': {'1. open': '137.0300',
   '2. high': '137.1700',
   '3. low': '136.6900',
   '4. close': '136.7180',
   '5. volume': '612677'},
  '2019-07-19 14:25:00': {'1. open': '137.1480',
   '2. high': '137.3400',
   '3. low': '137.0200',
   '4. close': '137.0500',
   '5. volume': '474916'},
  '2019-07-19 14:20:00': {'1. open': '137.3300',
   '2. high': '137.4100',
   '3. low': '137.1300',
   '4. close': '137.1425',
   '5. volume': '351629'},
  '2019-07-19 14:15:00': {'1. open': '137.3400',
   '2. high': '137.4218',
   '3. low': '137.1900',
   '4. close': '137.3200',
   '5. volume': '551611'}}}

In [3]:
type(alpha)

dict

In [4]:
alpha.keys()
#dict_keys(['symbol', 'financials'])

dict_keys(['Meta Data', 'Time Series (5min)'])

In [5]:
msft_df = pd.DataFrame(alpha["Time Series (5min)"])
msft_df

,2019-07-22 16:00:00,2019-07-22 15:55:00,2019-07-22 15:50:00,2019-07-22 15:45:00,2019-07-22 15:40:00,2019-07-22 15:35:00,2019-07-22 15:30:00,2019-07-22 15:25:00,2019-07-22 15:20:00,2019-07-22 15:15:00,...,2019-07-19 15:00:00,2019-07-19 14:55:00,2019-07-19 14:50:00,2019-07-19 14:45:00,2019-07-19 14:40:00,2019-07-19 14:35:00,2019-07-19 14:30:00,2019-07-19 14:25:00,2019-07-19 14:20:00,2019-07-19 14:15:00
1. open,138.4400,138.4400,138.3750,138.3600,138.3400,138.4430,138.4600,138.6300,138.5700,138.6800,...,137.0600,137.1000,136.8600,136.8200,136.7500,136.7200,137.0300,137.1480,137.3300,137.3400
2. high,138.5500,138.4900,138.4550,138.4700,138.4000,138.4568,138.4700,138.6500,138.6700,138.6850,...,137.1300,137.2800,137.1300,137.0600,136.8900,137.0000,137.1700,137.3400,137.4100,137.4218
3. low,138.3400,138.3500,138.3400,138.3350,138.3300,138.2950,138.4000,138.4100,138.5500,138.5300,...,136.9500,137.0500,136.8358,136.8000,136.6100,136.7100,136.6900,137.0200,137.1300,137.1900
4. close,138.4300,138.4400,138.4400,138.3850,138.3650,138.3400,138.4500,138.4600,138.6300,138.5700,...,137.0000,137.0569,137.1000,136.8700,136.8200,136.7505,136.7180,137.0500,137.1425,137.3200
5. volume,886466,321964,252689,233272,249061,210479,135392,183601,161121,169380,...,282515,402198,268204,387917,661988,455275,612677,474916,351629,551611

In [6]:
msft_df.to_csv('msft_df.csv', index=False)

In [7]:
#a partir de aqui se empieza a editar el dataframe. 1. Agregar cabeceras, 2. dividir columnas de fechas / horas
# 3. realizar analisis de maximo - minimo valor
#vamos volumen transado
msft_dfT2 = msft_df.transpose()
msft_dfT2.head()

                      1. open   2. high    3. low  4. close 5. volume
2019-07-22 16:00:00  138.4400  138.5500  138.3400  138.4300    886466
2019-07-22 15:55:00  138.4400  138.4900  138.3500  138.4400    321964
2019-07-22 15:50:00  138.3750  138.4550  138.3400  138.4400    252689
2019-07-22 15:45:00  138.3600  138.4700  138.3350  138.3850    233272
2019-07-22 15:40:00  138.3400  138.4000  138.3300  138.3650    249061

In [8]:
msft_dfT2.columns

Index(['1. open', '2. high', '3. low', '4. close', '5. volume'], dtype='object')

In [10]:
msft_dfT2.columns = ['Open Price', 'Highest Price', 'Lowest Price', 'Close Price', 'Volume_Ops']
msft_dfT2.head()

,Open Price,Highest Price,Lowest Price,Close Price,Volume_Ops
2019-07-22 16:00:00,138.4400,138.5500,138.3400,138.4300,886466
2019-07-22 15:55:00,138.4400,138.4900,138.3500,138.4400,321964
2019-07-22 15:50:00,138.3750,138.4550,138.3400,138.4400,252689
2019-07-22 15:45:00,138.3600,138.4700,138.3350,138.3850,233272
2019-07-22 15:40:00,138.3400,138.4000,138.3300,138.3650,249061

In [11]:
msft_dfT2.dtypes

Open Price       object
Highest Price    object
Lowest Price     object
Close Price      object
Volume_Ops       object
dtype: object

In [12]:
msft_dfT2 = msft_dfT2.astype(float).round(3)
msft_dfT2.head()

,Open Price,Highest Price,Lowest Price,Close Price,Volume_Ops
2019-07-22 16:00:00,138.440,138.550,138.340,138.430,886466.0
2019-07-22 15:55:00,138.440,138.490,138.350,138.440,321964.0
2019-07-22 15:50:00,138.375,138.455,138.340,138.440,252689.0
2019-07-22 15:45:00,138.360,138.470,138.335,138.385,233272.0
2019-07-22 15:40:00,138.340,138.400,138.330,138.365,249061.0

In [13]:
maxP = msft_dfT2['Highest Price'].max()
msft_dfT2[(msft_dfT2['Highest Price'] == maxP)]

,Open Price,Highest Price,Lowest Price,Close Price,Volume_Ops
2019-07-22 10:10:00,138.78,139.19,138.76,139.0,792631.0

In [14]:
msft_dfT2.to_csv('msft_dfT2.csv', index=False)